<div class="p-1 text-xs shadow-lg">
  <!-- Header -->
  <div class="p-4 bg-gray-100 rounded-lg mb-1">
    <div class="flex flex-col">
      <h1 class="font-extrabold text-gray-800">{{ .Name }}</h1>
      <p class="font-medium text-gray-600">{{ .Profession }}</p>
    </div>
  </div>

  <!-- Contacts Section -->
  <div class="p-4 bg-white shadow rounded-lg">
    <h2 class="font-semibold text-gray-800">Contacts</h2>
    <div class="grid grid-cols-4 gap-1">
      <!-- Email -->
      <div class="flex items-center text-gray-700">
        <i class="fas fa-envelope text-lg text-indigo-600"></i>
        <span> {{.Contact.Email}}</span>
      </div>

      <!-- Location -->
      <div class="flex items-center text-gray-700">
        <i class="fas fa-map-marker-alt text-lg text-red-600"></i>
        <span> {{.Contact.Location}}</span>
      </div>

      <!-- LinkedIn -->
      <div class="flex items-center text-gray-700">
        <i class="fab fa-linkedin text-lg text-blue-600"></i>
        <a
          href="https://{{.Contact.Linkedin}}"
          class="text-blue-700 hover:underline"
        >
          {{.Contact.Linkedin}}
        </a>
      </div>

      <!-- Phone -->
      <div class="flex items-center text-gray-700">
        <i class="fas fa-phone-alt text-green-600"></i>
        <span> {{.Contact.Phone}}</span>
      </div>

      <!-- Portfolio -->
      <div class="flex items-center text-gray-700">
        <i class="fas fa-briefcase text-yellow-600"></i>
        <a
          href="https://{{.Contact.Portfolio}}"
          class="text-blue-700 hover:underline"
        >
          {{.Contact.Portfolio}}
        </a>
      </div>
    </div>
  </div>

  <!-- Skills Section -->
  <div class="p-4 bg-white shadow rounded-lg">
    <h2 class="font-semibold text-gray-800">Skills</h2>
    <div class="p-1 grid grid-cols-4 gap-1">
      {{ range .Skills.Technologies }}
      <div class="text-white p-1 text-center rounded bg-blue-400">{{ . }}</div>
      {{ end }}
    </div>
  </div>
</div>
