<div
  id="experience-{{ .Title }}"
  class="bg-gray-50 text-xs p-3 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-2xl border border-gray-300"
>
  <!-- Experience Title -->
  <h3 class="font-semibold tracking-tight text-indigo-700">{{ .Title }}</h3>

  <!-- Company and Duration -->
  <div class="flex flex-col w-fit text-gray-700">
    <span class="font-bold text-gray-800 p-2">{{ .Company }}</span>
    <span class="text-xs bg-indigo-100 rounded-full text-indigo-600 p-2"
      >{{ .StartYear }} - {{ .EndYear }}</span
    >
  </div>

  <!-- Description -->
  <p class="text-gray-700 leading-relaxed">{{ .Description }}</p>

  <!-- Achievements -->
  {{ if .Achievements }}
  <div class="mt-5 bg-indigo-50 rounded p-4 border-l-4 border-indigo-500">
    <p class="font-semibold text-gray-800">Achievements:</p>
    <ul class="text-xs list-disc ml-6 text-gray-700">
      {{ range .Achievements }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
